.hidden{
    visibility: hidden;
}
.show-text{
    height: fit-content !important;
}
.btn-close{
    transform: rotate(45deg);
}
.rotate-90{
    transform: rotate(90deg);
    transition: ease 0.5s;
}
#q-1, #q-2, #q-3{
    display: flex;
    justify-content: space-between;
}
.question-1, .question-2, .question-3{
    padding: 1rem;
}
.question{
    margin: 1rem;
    height: 4rem;
    overflow: hidden;
    transition: ease 0.5s;
}

@media screen and (max-width: 1000px) {
    .question{
        margin: 1rem;
        height: 5rem;
        overflow: hidden;
        transition: ease 0.5s;
    }
    .question-1{
        height: 4rem;
    }
  }